@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Fresca:regular);

body {
  font-family: "Fresca";
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00df8263;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00ff9563;
}
